@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Universal selector style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Font style */
body {
  font-family: "Merriweather", serif;
}

/* Banner section start here.................. */
.banner-container {
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 5px;
  /* border: 2px solid red; */
}

.banner-content {
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  /* margin-top: 190px; */
  /* margin: 0 auto; */
  font-size: 34px;
  font-weight: 900;
  /* border: 2px solid greenyellow; */
}

.banner-content #new-year-txt {
  font-size: 23px;
  margin-bottom: 15px;
}

/* Offer section start................... */
.Offer-section {
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 120px;
  border: 2px solid red;
}

.offer-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
  border: 2px solid blue;
}
.offer-text-content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 10px;
}
.offer-text-content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}
.offer-text-content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 31px;
  font-weight: 700;
}
