@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Universal selector style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Font style */
body {
  font-family: "Merriweather", serif;
}

/* Banner section start here.................. */
.banner-container {
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 5px;
  /* border: 2px solid red; */
}

.banner-content {
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  /* margin-top: 190px; */
  /* margin: 0 auto; */
  font-size: 34px;
  font-weight: 900;
  /* border: 2px solid greenyellow; */
}

.banner-content #new-year-txt {
  font-size: 23px;
  margin-bottom: 15px;
}

/* Offer section start................... */
.Offer-section {
  width: 802.9px;
  height: 715px;
  margin: 0 auto;
  margin-top: 100px;
  /* border: 2px solid red; */
}

.offer-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  /* border: 2px solid blue; */
}
.offer-text-content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
}
.offer-text-content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}
.offer-text-content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 31px;
  font-weight: 700;
}

/* Welcome banner start...................... */
.welcome-banner-container {
  max-width: 1320px;
  height: 600px;
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  background-image: linear-gradient(
      45deg,
      rgb(16, 16, 16) -0.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../images/Vectorrr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  /* border: 2px solid red; */
}

.welcome-banner-container .welcome-banner-text {
  width: 60%;
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* border: 2px solid blue; */
}
.welcome-banner-container .welcome-banner-text h1 {
  font-size: 57px;
  font-weight: 900;
  margin-bottom: 10px;
}
.welcome-banner-container .welcome-banner-text p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-top: 13px;
  padding: 0px 178px;
}
.welcome-banner-text span {
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 30px; */
  text-align: left;
  margin: 18px 350px 5px 0px;
  /* padding: 0 178px; */
  /* padding: 0 0 0px; */
  /* border: 2px solid rgb(233, 7, 7); */
}

.welcome-banner-container .welcome-banner-img {
  width: 40%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid greenyellow; */
}

/* Date Time section Start................... */
.date-time-section-container {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-top: 115px;
  background-image: linear-gradient(
    900deg,
    rgb(181, 83, 83) -200.5%,
    rgba(218, 71, 71, 0) 100%
  );
  border-radius: 8px;
  /* border: 2px solid red; */
}

.date-time-text-content {
  width: 650px;
  height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  /* border: 2px solid blue; */
  gap: 10px;
}

.date-time-content-clr {
  color: rgb(255, 0, 0);
}

.date-time-text-content .date-time-btn {
  width: 118px;
  height: 37px;
  font-weight: 700;
  margin-top: 22px;
  color: white;
  background: rgb(255, 0, 0);
  border-radius: 8px;
  border-style: none;
}

/* Coming Soon section start.............*/
.coming-soon-container {
  width: 1320px;
  height: 463px;
  display: flex;
  margin: 0 auto;
  margin-top: 115px;
  border: 2px solid red;
}

.coming-soon-text-content {
  width: 34%;
  height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 2px solid blue;
}

.coming-soon-img {
  width: 34%;
  height: 463px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid red; /* Red border with 5px width */
  border-radius: 50%; /* Makes the border round */
}

.coming-soon-year-text-content {
  width: 34%;
  height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid violet;
}

/* Holiday Sales Section Start............. */
.holiday-sales-container {
  width: 1068px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 115px;
  gap: 13px;
  border: 2px solid red;
}

.holiday-sales-container h1 {
  font-size: 55px;
  font-weight: 900;
}
.holiday-sales-container h1 span {
  color: rgb(255, 0, 0);
}
.holiday-sales-container p {
  text-align: center;
  font-family: Inter;
  opacity: 0.7;
}
